# Data analysis

This Notebook contains data analysis in order to make the preprocessing

### 1. Importation of librairies

In [6]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
import get_mutual_information as mi
import preprocess_data as preprocess

### 2. Calculation of mutual information for each columns

Collect data into a pandas DataFrame

In [2]:
# Stock the data into a DataFrame
housesDf = pd.read_csv('data/train.csv')

# Print the head of the DataFrame
housesDf.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
# Define X and y
X                 = housesDf.copy()
y                 = X.pop('SalePrice')

# Preprocess X
X                 = preprocess.preprocessData(X)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,0,65.0,8450,0,-1,0,0,0,...,0,0,-1,-1,-1,0,2,2008,0,0
1,2,20,0,80.0,9600,0,-1,0,0,0,...,0,0,-1,-1,-1,0,5,2007,0,0
2,3,60,0,68.0,11250,0,-1,1,0,0,...,0,0,-1,-1,-1,0,9,2008,0,0
3,4,70,0,60.0,9550,0,-1,1,0,0,...,0,0,-1,-1,-1,0,2,2006,0,1
4,5,60,0,84.0,14260,0,-1,1,0,0,...,0,0,-1,-1,-1,0,12,2008,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,0,62.0,7917,0,-1,0,0,0,...,0,0,-1,-1,-1,0,8,2007,0,0
1456,1457,20,0,85.0,13175,0,-1,0,0,0,...,0,0,-1,0,-1,0,2,2010,0,0
1457,1458,70,0,66.0,9042,0,-1,0,0,0,...,0,0,-1,2,0,2500,5,2010,0,0
1458,1459,20,0,68.0,9717,0,-1,0,0,0,...,0,0,-1,-1,-1,0,4,2010,0,0
1459,1460,20,0,75.0,9937,0,-1,0,0,0,...,0,0,-1,-1,-1,0,6,2008,0,0